.nav-right {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 25px;
}

.nav-link {
  color: #e7d7c1;
  margin: 15px;
}

.nav-link:hover {
  color: #8C1C13;
}

.nav-link-active {
  color: #735751;
}